body {
	position: relative;
    overflow-x: hidden;
}

/* header END */
/* main_section Start */
.main_section {
	width: 100%;
	height: 900px;
	background: url(../img/main_bg.jpg) center center no-repeat;
	background-size: cover;
}
.main_section_img_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.main_section_img_wrap img {
	opacity: 0.8;
}
.product img {
	width: 100%;
}
.product{
    margin:40px 0;
}
/* main_section END */
.content_section {
	max-width: 1200px;
	margin: 20px auto 20px;
}
.content_shoes_detail img{
    width: 300px;
    height: 450px;
}
.content_section_body {
	display: flex;
	justify-content: space-between;
	animation: autoSlide 20s infinite linear;
	margin-bottom: 30px;
}
.content_section_body .content_shoes{
	margin: 0 20px;
	cursor: pointer;
}
.content_section_body_second{
	display: flex;
	justify-content: space-between;
	animation: autoSlide2 20s infinite linear;
}
.content_section_body_second .content_shoes{
	margin: 0 20px;
	cursor: pointer;
}
.shoes_price{
	color: #008bcc;
	font-weight: bold;
}
@keyframes autoSlide {
	0%{
transform: translate(-50%,0);
	}
	100%{
		transform: translate(-300%,0);
	}
}
@keyframes autoSlide2 {
	0%{
transform: translate(-300%,0);
	}
	100%{
		transform: translate(-50%,0);
	}
}
.content_section_body .content_shoes {
	text-align: center;
	width: 320px;
}
.content_section_body_second .content_shoes{
	text-align:center;
	width: 320px;
}
#logout_btn {
	color: white;
	margin: 0 20px;
	line-height: 50px;
	align-items: center;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
	display: none !important;
}
.slick-list {
	width: 1260px !important;
	margin: 0 auto !important;
}
.section2 {
	margin: 40px 0;
}

.hidden {
	display: none !important;
}
.category_list_item{
	transition: all 0.3s;
}
.focus{
	color: white !important;
	background-color: darkgrey;
}