* {
    box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    position: relative;
}

#header {
    /* position: absolute; */
    padding: 20px;
    /* width: 98%; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

#header .header_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
#header .header_left li:nth-child(1) a {
    font-size: 50px;
    color: white;
}
#header .header_right {
    color: white;
    /* width: 500px; */
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 20px;
}
#header .header_right li a {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}
#header .header_right i {
    font-size: 50px;
    color: white;
    padding-right: 20px;
}
/* header END */

#logout_btn {
    color: white;
    line-height: 50px;
    align-items: center;
    margin: 0 20px;
}

#footer {
    padding: 50px 50px 20px;
    background-color: #111111;
}
#footer .footer_container {
    max-width: 1200px;
    margin-top: auto;
    color: #7b7b7b;
}

.hidden {
    display: none !important;
}